src/conf/xml-resources/web-services/ServCommunication/wsdl/localhost_8080/plscience-ws/ServCommunication.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://servcommunication.webservice.ufjf.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servcommunication.webservice.ufjf.com.br/">

<xs:element name="fullCommunicationXML" type="tns:fullCommunicationXML" />

<xs:element name="fullCommunicationXMLResponse" type="tns:fullCommunicationXMLResponse" />

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fullCommunicationXML">
<xs:sequence>
<xs:element name="idRationale" type="xs:int" />
<xs:element name="idEmissor" type="xs:int" />
<xs:element name="idReceptor" type="xs:int" />
<xs:element name="mensagem" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fullCommunicationXMLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>