src/conf/xml-resources/web-services/ServOntologyGenericSparql/wsdl/192.241.177.47_8080/plscience-ws/ServOntologyGenericSparql.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://servontologygenericsparql.webservice.ufjf.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servontologygenericsparql.webservice.ufjf.com.br/">

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="returnGenericSparql" type="tns:returnGenericSparql" />

<xs:element name="returnGenericSparqlResponse" type="tns:returnGenericSparqlResponse" />

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnGenericSparql">
<xs:sequence>
<xs:element name="urlOntologia" type="xs:string" minOccurs="0" />
<xs:element name="SPARQL" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="returnGenericSparqlResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>